@font-face {
    font-family: 'Note this';
    src: url('../fonts/Note_this.ttf');
}

@font-face {
    font-family: 'Aaargh';
    src: url('../fonts/Aaargh.ttf');
}

@font-face {
    font-family: 'SourceCodePro-Light';
    src: url('../fonts/SourceCodePro-Light.otf');
}


body{
    font-family: 'Aaargh';
}


.my-custom-stars .button .material-icons {
    font-size: 50px;
}

.my-custom-stars .star-button.star-on .material-icons {
    color: #FDE16D;
}

.my-custom-stars .star-button.star-off .material-icons {
    color: #ddd;
}

/* Critical */
.red {
    /*color : #d43f3a;*/
    color : #AA4643;
}

/* High */
.orange {
    /*color : orange;*/
    color : #DB843D;
}

/* Medium */
.yellow {
    /*color : #FDE16D;*/
    color: #71588F;
}

/* Low */
.blue {
    /*color : #66afe9;*/
    color : #4572A7;
}

.objectName {
    margin-left: 10px;
    font-weight: bolder;
    margin-bottom: 5px;
    color : #C2CD22;
    font-family: "SourceCodePro-Light";
    font-size: medium;
}

.lint {
    font-weight: lighter;
    margin-left: 20px;
}


.table .list-group-item {
    border-left: 0px !important;
    border-right: 0px !important;
}

.table .list-group-item:first-child {
    margin-top: 20px;
    border-top: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.table .list-group-item:last-child {
    border-bottom: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.flatTabs > .nav-tabs > li > a {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #555;
}

.flatTabs > .nav-tabs > li > a:hover {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: #337ab7;
    color: #337ab7;
}

.flatTabs > .nav > li > a:focus, .flatTabs > .nav > li > a:hover{
    background: none;
}

.flatTabs > a:focus, .flatTabs > a:hover {
    color: #23527c;
}

.flatTabs > .nav-tabs > li.active > a, .flatTabs > .nav-tabs > li.active > a:focus{
    background: none;
    color: #337ab7;
    border-bottom-color: #337ab7;
}

.angular-input-stars {
    font-size: 20px;
    margin-top: 30px;
    height: 20px;
}



.cutedb{
    font-family: 'Note this';
    margin-left:20px;
    padding-top: 15px;
    font-size: xx-large;
}

.well {
    margin-top: 20px;
}

.well > p {
    font-family: SourceCodePro-Light;
}

.ok {
    border-color: #d6e9c6;
}

.ko {
    border-color: #ebccd1;
}

.running {
    border-color: #faebcc;
}

.pending {
    border-color: #bce8f1;
}

.donut {
    margin-top: 20px;
}

.severity{
    text-align: center;
}
