<!--<div class="col-lg-6 col-sm-6">-->
<!--<div style="height: 450px;width: 50%;margin-top:20px">-->
<!---->
<!--<canvas id="donutChart" class="chart chart-doughnut"-->
<!--chart-data="donutData"-->
<!--chart-labels="donutLabels"-->
<!--chart-colors="donutColors"-->
<!--chart-options="donutOptions">-->
<!--</canvas>-->
<!---->
<!--</div>-->
<!--<div class="col-lg-6 col-sm-6">-->
<div style="height: 600px;width: 50%;margin-top:40px;margin-left:auto;margin-right:auto;">

    <canvas id="barChart" class="chart chart-bar"
            legend="true"
            chart-data="barChartData"
            chart-labels="barChartLabels"
            chart-options="barChartOption"
            chart-series="barChartSeries"
            chart-colors="barChartColors"></canvas>
</div>
