<div class="runs-wrapper" ng-controller="runShowController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Run {{selectedRun.uuid}}
                <button type="button" ng-show="selectedRun.status == 'PENDING'" class="btn btn-info" >{{selectedRun.status}}</button>
                <button type="button" ng-show="selectedRun.status == 'SUCCESS'" class="btn btn-success" >{{selectedRun.status}}</button>
                <button type="button" ng-show="selectedRun.status == 'RUNNING'" class="btn btn-warning" >{{selectedRun.status}}</button>
                <button type="button" ng-show="selectedRun.status == 'FAILURE'" class="btn btn-danger" >{{selectedRun.status}}</button>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-10">
            <!-- <div class="panel panel-default">
                 <div class="panel-heading">
                     Kitchen Sink
                 </div> -->
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!--<input id="input-21b" value="4" type="number" class="rating krajee-fa" min=0 max=5 step=0.2 data-size="lg">-->
                <jk-rating-stars class="my-custom-stars" max-rating="4" rating="selectedRun.score" read-only="true" > </jk-rating-stars>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lints repartition
                </div>
                <!-- /.panel-heading -->
                <nvd3 options='donutOptions' data='donutData'></nvd3>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>

</div>
