<div>
    <div class="row objectName">
        <div class="col-md-4">
            <span>{{key}}</span>
        </div>
    </div>
    <div class="row lint" ng-repeat="detail in value">
        <div class="col-md-1">
            <span ng-show="value[$index-1].message != detail.message"
                  ng-class="detail.severity === 'critical' ? 'red fa fa-circle-o' : (detail.severity === 'high' ? 'orange fa fa-circle-o' : (detail.severity === 'medium' ? 'yellow fa fa-circle-o' : 'blue fa fa-circle-o'))"></span>
        </div>
        <div class="col-md-4">
            <span class="message" ng-show="value[$index-1].message != detail.message">{{detail.message}}</span>
        </div>

        <div class="col-md-5">
            <span class="value">{{detail.value}}</span>
        </div>
    </div>
</div>
